<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeneralHome</title>
</head>
<body>
    <center>
        <h1>General User Home Page [<%= user.username%>] </h1>
    </center>

    <a href="#">My Profile</a> | 
    <a href="#">Posts List</a> | 
    <a href="#">Logout</a> | 
    <hr>

    Name : <%= user.name%> <br>
    Email : <%= user.email%> <br>
    Phone : <%= user.phone%> <br>
    Username:  <%= user.username %> <br>
	Id: <%= user.id %> <br>
	Password: <%= user.password %> <br>
    Type: <%= user.type %>
    
</body>
</html>