<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <center>
        <h1>Admin Home [<%= user.username%>]</h1>
    </center>

    <br><br>

    <a href="#">Add Admin</a> |
    <a href="#">My Profile</a> | 
    <a href="/home/view_users">All UserList</a> | 
    <a href="#">Logout</a> | <br><br>
    <hr>
    
    Name : <%= user.name%> <br>
    Email : <%= user.email%> <br>
    Phone : <%= user.phone%> <br>
    Username:  <%= user.username %> <br>
	Id: <%= user.id %> <br>
	Password: <%= user.password %> <br>
	Type: <%= user.type %>
</body>
</html>